[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.12"
gunicorn = "==19.9.0"
django-heroku = "*"
whitenoise = "*"
dj-database-url = "*"
nanoid = "*"

[dev-packages]
pytest = "*"
pytest-pylint = "*"
pytest-flake8 = "*"
pylint-django = "*"
selenium = "*"
webdriver-manager = "*"

[requires]
python_version = "3.8"
