.jumbotron {
    background-color: white;
    padding: 2rem 2rem;
}

.jumbotron h2 {
    color: #56575b;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.4;
}

.container {
    max-width: 960px;
}

.url-shorten-section {
    background-color: #95d3a7;
}

.url-shorten-section p {
    font-size:14;
    color: #6c757d;
    text-align: center;
}

footer {
    font-size: 14;
    color: #6c757d;
    text-align: end;
}