{% extends "base.html" %}
{% block content %}

<div>
<!--    <form action="/success" method="post">-->
<!--        {% csrf_token %}-->
<!--        <div class="input-group mb-3 pt-3">-->
<!--            <input id="url" name="url" value="{{ url }}" type="text" class="form-control"-->
<!--                   placeholder="Shorten your link" aria-label="Shorten your link" aria-describedby="basic-addon2">-->
<!--            <div class="input-group-append">-->
<!--                <button class="btn btn-outline-secondary" type="submit">Shorten</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
</div>
{% endblock %}