{% extends "base.html" %}
{% block content %}

<div>
    <div class="card">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col text-truncate">
                    {{ original_url }}
                </div>
                <div class="col" style="text-align: right">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="mr-3">
                            <a id="generatedLink" href="{{ generated_url }}" target="_blank">{{ generated_url }}</a>
                        </div>
                        <div>
                            <button onclick="copyToClipboard()" class="btn btn-outline-secondary" type="submit">
                                Copy
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ generated_url|json_script:"generated_url" }}
<script>
    var generatedUrl = JSON.parse(document.getElementById('generated_url').textContent);

    function copyToClipboard() {
        var el = document.createElement('textarea');
        el.value = generatedUrl;
        document.body.appendChild(el);
        el.select();

        document.execCommand('copy');
        document.body.removeChild(el);
    }
</script>
{% endblock %}